.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 1;
    
    border: 5px ridge var(--faint-purple);

}
.window-title {
    display: flex;
    background-color: var(--purple);
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-bottom: 5px ridge var(--faint-purple);
    min-height: 30px;
}
.window-title p {
    margin: 0;
    margin-left: 10px;
    font-size: small;
    user-select: none;
    color: aliceblue;
}
.window-title button {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-right: 5px;
    background:transparent url('../img/close-btn.png');
    border: 0;
}
.window-title button:active {
    filter: saturate(300%) brightness(70%) hue-rotate(180deg);
}
.window-title button:hover {
    cursor: pointer;
}
.window-content {
    background-color: var(--black);
    flex: 10;
    min-width: 250px;
    min-height: 50px;
}

.icons {
    display: grid;
    grid: auto auto auto auto / auto auto auto auto auto;
    position: absolute;
    padding: 10px;
    gap: 5px;
    user-select: none;
}
.icon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.icon:hover {
    background-color: var(--purple);
    cursor: pointer;
}
.icon img {
    height: 64px;
    width: 64px;
}
.icon p {
    color: aliceblue;
    margin: 0;
    font-size: smaller;
}
.invisible {
    display: none;
}