:root {
    --faint-purple: rgb(59, 54, 107);
    --purple: rgb(53, 2, 196);
    --dark-purple: rgb(17, 5, 68);
    --black: rgb(31, 31, 31);
    --darker-black: rgb(20,20,20);
}
@font-face {
    font-family: Fixedsys Excelsior;
    src: url('../fonts/FSEX302.ttf');
}
body {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin: 0;
}

@keyframes scanLiness {
    0% { 
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 45px;
    }
}
@keyframes flickering {
    0% {
        opacity: 07%;
    }
    100% {
        opacity: 13%;
    }
}
.scanlines {
    background-image: url("../img/scanlines.png");
    background-repeat: repeat;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 50;

    animation-name: scanLiness, flickering;
    animation-duration: 1s, 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear, cubic-bezier(.79,.14,.15,.86);
    animation-direction: normal, alternate;
}

.background {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: center;
    background-image: url(../img/wallpaper.png);
}

.splash {
    background-color: #060606;
    position: fixed;
    z-index: 49;
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    user-select: none;
}
.splash h1 {
    color: aliceblue
}

.task-bar {
    min-height: 25px;
    width: 100vw;
    margin: 0;
    bottom: 0;
    left: 0;
    padding-right: 20px;
    padding-left: 5px;
    position: absolute;
    z-index: 48;

    display: flex;
    gap: 5px;

    background-color: var(--dark-purple);
    border-top: 5px ridge var(--faint-purple);
}
.task {
    background-color: var(--purple);
    width: 100px;
    flex-shrink: 1;
    border: 5px outset var(--purple);
}
.task p {
    margin: 0;
    font-size: smaller;
    color: aliceblue;
    user-select: none;
}
.error {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 30px;
}
.error-body {
    display: flex;
    align-items: center;
    gap: 15px;
}
.error img {
    width: 40px;
    height: 40px;
}
.error-body p {
    color: aliceblue;
    margin: 0;
    user-select: none;
    font-size: small;
}
.error button {
    width: 150px;
    color: aliceblue;
    background-color: var(--purple);
    border-radius: 0;
    border: 5px outset var(--purple);
    margin-bottom: 15px;
}
.error button:active {
    border: 5px inset var(--purple);
    background-image: url('../img/checker-pattern.png');
}
.error button:hover {
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-bottom: 5px ridge var(--faint-purple);
    background-color: var(--faint-purple);
}
.navbar p {
    margin: 5px;
    flex-grow: 2;
    padding: 5px;
    padding-left: 15px;
    color: aliceblue;
    background-color: var(--darker-black);
    border: 3px inset var(--black);
    font-family: "Fixedsys Excelsior", "FixedSys", monospace;
}
.navbar button {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-right: 5px;
    margin-left: 15px;
    background:transparent url('../img/up-btn.png');
    border: 0;
}
.navbar button:active {
    filter: saturate(300%) brightness(70%) hue-rotate(180deg);
}
.navbar button:hover {
    cursor: pointer;
}
textarea {
    margin: 0;

    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: vertical;
    width: 500px;
    height: 300px;
    color: aliceblue;
    font-family: "Fixedsys Excelsior", "FixedSys", monospace;
    border: outset 2px var(--black);
    background-color: var(--black);
}
textarea:focus {
    outline: none;
    border: inset 2px var(--black);
}
textarea::-webkit-scrollbar {
    display: none;
}