@font-face {
    font-family: Fixedsys Excelsior;
    src: url('/FSEX302.ttf');
}

.textarea {
    margin: 0;

    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: none;
    box-sizing: border-box;
    flex-grow: 2;
    color: var(--on_background);
    font-family: "Fixedsys Excelsior", "FixedSys", monospace;
    border: outset 2px var(--background);
    background-color: var(--background);
}

.textarea:focus {
    outline: none;
    border: inset 2px var(--background);
}

.textarea::-webkit-scrollbar {
    display: none;
}

.input {
    padding: 3px;
    background-color: var(--background);
    filter: brightness(1.2);
    color: var(--on_background);
    border: 1px black dotted;
    font-family: "Fixedsys Excelsior", "FixedSys", monospace;
    font-size: 19px;
    width: 50px;
    border-bottom: 5px ridge var(--background);
}

.input:focus {
    outline: none;
}

.button {
    margin: 0;
    border: 0;

    filter: brightness(1.2);
    font-family: "Fixedsys Excelsior", "FixedSys", monospace;
    color: var(--on_background);

    background-color: var(--background);
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;

    border-left: 2px solid var(--background);
    border-top: 2px solid var(--background);
}

.button:active {
    border-right: 2px solid var(--background);
    border-bottom: 2px solid var(--background);

    border-left: 2px solid #000;
    border-top: 2px solid #000;
    filter: brightness(0.8);
    translate: 1px 2px;
}